{
    "tabWidth": 4,
    "useTabs": false,
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                "tabWidth": 4
            }
        },
        {
            "files": "*.tsx",
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
